.row {
    display: flex;
    height: auto;
    background-image: url('media/cabin.jpg');
  }
  
.column {
    flex: 50%;
    padding-right: 20px;
    padding-left: 20px;
    
    /* padding: 25%; */
    padding-top: 20%;
    /* margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    }


